@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  overflow: hidden;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

html {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  line-height: 19.5px;
}

body {
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 1214px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    object-fit: contain;
    width: 216px;
    height: 49px;
    
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.menu { //Кнопка бургера
  display: block;
  position: relative;
  width: 30px;
  height: 30px;

  &__line {
    display: block;
    position: absolute;
    background-color: #212733;
    border-radius: 5px;
    height: 3px;
    
    &_f {
      width: 100%;
      top: 1.5px;
      left: 0;
    }

    &_s {
      width: 75%;
      top: calc(50% - 3px / 2);
      right: 0;
    }

    &_t {
      width: 50%;
      bottom: 1.5px;
      right: 0;
    }
  }
}

.header {
  position: absolute;
  top: 26px;
  left: 0;
  width: 100%;
}

.btn {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  border: 1px solid black;
  padding: 14px 30px;
  min-width: 150px;
  gap: 15px;

  &__img {
    width: 12px;
    height: 12px;
    object-fit: contain;
    position: relative;


    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.firstSection {
  padding: calc(75px + 10%) 0 0 0;
  height: 1030px;
  background: url('../images//mainScreenBackground.png') center/cover no-repeat;

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    text-align: center;
    font-size: 4.625rem;
    font-weight: 400;
    line-height: 90px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
  }

  &__subtitle {
    font-size: 1.125rem;
    margin: 0 0 120px 0;
  }

  &__btn {
    height: 60px;
    width: 280px;
  }
}

.title {
  font-size: 3rem;
  line-height: 59px;
}

.secondSection {
  display: flex;
  flex-wrap: wrap;

  &__left {
    flex: 1 0 50%;
    padding: 0 0 45% 0;
    background: url('../images/secondSection.png') center/cover no-repeat;
  }

  &__right {
    flex: 1 0 50%;
  }

  &__row {
    padding: 20% 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 5.06%;
  }

  &__title {
    margin: 0 0 12% 0;
    text-align: right;
    white-space: nowrap;
  }

  &__about {
    max-width: 500px;
    display: flex;
    flex-direction: column;

    > li {
      text-align: right;
      line-height: 24px;
      margin: 0 0 8% 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__scroll {
    padding: 113px 0 0 0;
  }
}

.scroll {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__radio {
    cursor: pointer;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: black;

    + input[type="radio"]{
      display: none;
    }

    &_active {
      border: 2px solid #8D8C92;
      background-color: transparent;
    }
  }
}

.fourthSection {
  background: #1A1F25;
  color: #fff;
  padding: 4.69% 0;

  &__title {
    text-align: center;
    margin: 0 0 4.16% 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 210px;
    position: relative;

    :before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      border: 2px solid #1A1F25;
    }
  }

  &__cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1A1F25;
    border: 1px solid #595959;
  }

  &__img {
    position: relative;
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: 0 0 20px 0;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    text-align: center;
    line-height: 24px;
    max-width: 203px;
  }

  &__btn {
    color: inherit;
    border: 1px solid white;

    &_showing {
      visibility: hidden;
    }
  }

  &__btnContainer {
    display: flex;
    justify-content: center;
  }
}

.fifthSection {
  background: url('../images/fifthSection.png') center/cover no-repeat;
  padding: calc(140px + 7%) 0 12.5% 0;

  &__body {
    display: grid;
    max-width: 1112px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 60px;
  }

  &__cell {
    display: flex;
    gap: 20px;
  }

  &__img {
    object-fit: contain;
    position: relative;
    width: 50px;
    height: 50px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    padding: 0 0 7.5% 0;
  }

  &__text {
    max-width: 430px;
    width: 100%;
  }
}

.sixthSection {
  color: white;
  display: flex;
  flex-wrap: wrap;

  &__left {
    flex: 1 0 49%;
    background: url("../images//sixthSectionLeft.png") center/cover no-repeat;
    padding: 9.091% 3.837%  9.091% 18.55%;
  }

  &__right {
    flex: 1 0 51%;
    background: black;
    padding: 9.091% 0 9.091% 1.57%;
  }

  &__leftBody {
    width: 100%;
  }

  &__rightBody {
    display: flex;
    flex-direction: column;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 4.16% 0 0 0;
    min-width: 380px;
    max-width: 509px;
  }

  &__input {
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    height: 40px;
    margin: 0 0 40px 0;
  }

  &__textAreaLabel {
    margin: 0 0 20px 0;
  }

  &__textArea {
    color: inherit;
    height: 80px;
    resize: none;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background: transparent;
    margin: 0 0 80px 0;
    font-size: inherit;
  }

  &__btn {
    color: white;
    border: 1px solid white;
    max-width: 194px;
  }

  &__cards {
    padding: 7.19% 0 0 0;
    display: flex;
    gap: 10px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 59px 15px 30px;
    position: relative;
    width: 194px;
    height: 284px;
    clip-path: inset(0 0 0 0);

    &_b {
      border: none;
      background: linear-gradient(180deg, #61B3C9 0%, #074D88 100%);
    }
  }
  
  &__circle {
    width: 77px;
    height: 82px;
    border-radius: 38px;
    border: 1px solid white;
    position: absolute;
    top: -40px;
    left: calc(50% - 77px / 2);
    background-color: black;

    &_b {
      border: none;
    }
  }

  &__cardTitle {
    font-size: 20px;
    margin: 0 0 15px 0;
  }

  &__cardBody {
    flex: 1 1 100%;
  }

  &__cardOldPrice {
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: line-through;
    margin: 0 0 6px 0;
  }

  &__cardCurrentPrice {
    font-size: 24px;
    line-height: 29px;
  }
}

.footer {
  background: #17181C;
  color: white;
  padding: 103px 0 0 0;

  &__infos {
    display: grid;
    grid-template-columns: repeat(auto-fit, 266px);
    gap: 0 40px;
    border-bottom: 1px solid #595959;
    margin: 0 0 45px 0;
    justify-content: center;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin: 0 0 33px 0;
  }

  &__item {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 20px 0;

    &:last-of-type {
      margin: 0 0 45px 0;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  &__company {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
  }

  &__contacts {
    padding: 0 0 102px 0;
    display: flex;
    justify-content: space-between;
  }

  &__social {
    display: flex;
    gap: 10px;
  }

  &__socialBtn {
    background-color: white;
    padding: 5px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 5px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.line {
  position: fixed;
  left: 50%;
  top: 0;
  background-color: red;
  height: 100%;
  width: 1px;
  z-index: 11;
}

@import "media.scss"